---
- name: Rolling back installation and bootstrap
  hosts: '{{ hosts }}'
  strategy: free
  vars:
    remove_apigee: false
  vars_files:
    - ~/.apigee/credentials.yml
  roles:
  - { role: apigee-opdk-setup-default-settings, tags: ['cache'] }
  - { role: apigee-opdk-setup-bootstrap-rollback, tags: ['rollback_only'] }
  - { role: apigee-server-restart, tags: ['restart'] }
